body {
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

hr {
  color: cyan;
  size: 10px;
  opacity: 100%;
}

.white {
  color: white;
}

.texto-logo {
  font-size: 1.5rem;
}
